body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header1 {
    .poetsen-one-regular {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main {
    padding: 2em;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 30%;
}

.product-item img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.product-item h2 {
    color: #333;
    font-size: 1.2em;
    margin: 0.5em 0;
}

.product-item .price {
    color: #E91E63;
    font-size: 1.2em;
    margin: 0.5em 0;
}

.product-item button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5em 0;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
